SENTRY_DSN=
APP_VERSION=
WEBFLEET_ENABLED=true
WEBFLEET_BASE_URL=https://csv.webfleet.com/extern
WEBFLEET_ACCOUNT=<tu_cuenta>
WEBFLEET_USERNAME=<tu_usuario>   
WEBFLEET_PASSWORD=<tu_contraseña>
WEBFLEET_APIKEY=<tu_api_key>